/* COACHING ONTOLOGICO */
.accordion {
    margin: 100px 0;
    background-color: $color-fondo;
    border-radius: 5px;
}

.btn-link, .btn-link:active, .btn-link:link, .btn-link:visited, .btn-link.focus, .btn-link:focus {
    text-decoration: none;
    color: $color-link;
}

.btn-link:hover {
    text-decoration: none;
    color: $color-texto3;
}

.btn {
    img {
    height: 14px;
    width: auto;
    position: absolute;
    right: 80px;}
}

.videoCoaching {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px 0;   
}
