/* CONTRATA SESIONES */
.contenedorCardsGrid {
    display: grid;
    width: 90%;
    padding-left: 5%;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 200px;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    justify-items: stretch;
    grid-template-areas:
        "sesiones sesiones sesiones sesiones" 
        "zen therapy lotus celeste";
    }

.sesiones {
    grid-area: sesiones;
    width: 100%;
}

.zen {
    grid-area: zen;
}

.therapy {
    grid-area: therapy;
}

.lotus {
    grid-area: lotus;
}

.celeste {
    grid-area: celeste;
}

.zen, .therapy, .lotus, .celeste {
    width: 100%;
}

.card {
    h5 {
    text-align: center;
    font-size: 115%;
    font-weight: bold;
    }
} 

.botonCompra {
    height: 32px;
    width: 90px;
    font-style: inherit;
    font-family: 'Raleway', sans-serif; 
    appearance: none;
    border-style: none;
    background-color: $color-fondo;
    box-sizing: border-box;
    border: 1px solid $color-texto2;
    border-radius: 16px;
}

.botonCompra:hover {
    background-color: $color-fondohover;
}


/* TABLA */
.tabla {
    margin: 100px;
}
